---
import { Decrypt } from "../components/atom/Decrypt";
import { AuthStatus } from "../components/molecules/AuthStatus";
import Layout from "../Layout.astro";
import { serverApp } from "../server";

const app = await serverApp(Astro);
const viewer = await app.server.viewer();

if (!viewer) {
	return Astro.redirect("/login");
}

// const pendingRequests =
// 	await app.correspondenceRequest.individuals.pendingFullyFilledRequests();
---

<Layout title="Home">
	<main>
		<h2>Home</h2>

		<AuthStatus client:only />

		<Decrypt
			data={viewer.displayNameMK}
			iv={viewer.displayNameMKIV}
			client:only
		/>
	</main>
</Layout>
