---
import { AuthStatus } from "../components/molecules/AuthStatus";
import Layout from "../Layout.astro";
import { isLoggedIn } from "../server/utils/auth";

if (!(await isLoggedIn(Astro))) {
	return Astro.redirect("/login");
}
---

<Layout title="Home">
	<main>
		<h2>Home</h2>

		<AuthStatus client:only />
	</main>
</Layout>
