---
import Layout from '../layouts/Layout.astro';
import { LoginForm } from '../components/molecules/LoginForm';
import { RegisterForm } from '../components/molecules/RegisterForm';
import { AuthStatus } from '../components/molecules/AuthStatus';
---

<Layout title="Welcome to Astro.">
	<main>
		<h2>Status</h2>

		<AuthStatus client:only />

		<h2>Login</h2>

		<LoginForm client:only />

		<h2>Register</h2>

		<RegisterForm client:only />
	</main>
</Layout>
